* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 345px;
    min-height: 200px;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 95vh;
}

.row {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.col {
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.col i{
    font-size: 100px;
    padding: 15px;
}

.col3 {
    border-right: none;
}
.row3 {
    border-bottom: none;
}

#restart, #reset {
    position: absolute;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#restart {
    transform: translateX(calc(410px - 35px));
    padding: 12px 60px;
    background-color: #ff6600;
}
#reset {
    transform: translateX(calc(585px - 35px));
    padding: 12px 15px;
    background-color: #d35603;
}

.wins {
    position: absolute;
    transform: translate(calc(480px - 35px), 110px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
#x-wins, #o-wins {
    font-size: 35px;
    font-family: sans-serif;
    text-shadow: 2px 1px 2px black;
    color: springgreen;
}
.fa-x {
    color: green;
}
.fa-o {
    color: red;
}

p {
    position: absolute;
    font-size: 35px;
    font-family: sans-serif;
    color: #06dd06;
    text-shadow: 2px 1px 2px black;
}
.draw {
    color: #06ddd2;
}
.x-win, .o-win {
    transform: translate(calc(600px - 35px), 145px);
}
.draw {
    transform: translate(calc(540px - 35px), 145px);
}
.again {
    transform: translate(calc(540px - 35px), 265px);
    color: rgb(0, 60, 255);
}

@media screen and (max-width: 500px) {
    article {
        scale: 0.4;
    }
    article {
        margin-left: -40px;
    }
}